# Environment
.env

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/
.vite/

# Docker / logs
*.log
backend/celerybeat-schedule*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
